<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calcule seu IMC - Novatra</title>

  <!-- Google reCAPTCHA -->
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.19/css/intlTelInput.css"/>
</head>
<body>
  <div class="container">

    <!-- Header -->
    <div class="header">
      <img id="logo" src="{{ url_for('static', filename='img/novatra_logo_black.png') }}" alt="Logo Novatra" class="logo">
      <label class="switch">
        <input type="checkbox" id="toggle-theme">
        <span class="slider"></span>
      </label>
    </div>

    <h1>Calcule seu IMC agora!</h1>
    <p>Preencha seus dados e receba automaticamente um relatório em PDF no seu e-mail.</p>
    
    <form id="form-imc" action="{{ url_for('imc.calculo') }}" method="post">
      <input type="text" name="nome" placeholder="Nome" required>
      <input type="text" name="sobrenome" placeholder="Sobrenome" required>
      <input type="text" name="cidade" placeholder="Cidade" required>
      <input type="email" name="email" placeholder="Email" required>
      <input id="telefone" type="tel" name="numero" placeholder="Número" required>
      <input id="altura" type="text" name="altura" placeholder="Altura (m)" required inputmode="numeric" pattern="[0-9,]*" maxlength="4">
      <input id="peso" type="text" name="peso" placeholder="Peso (kg)" required inputmode="numeric" pattern="[0-9,]*" maxlength="6">

      <!-- ✅ reCAPTCHA (dentro do form) -->
      <div class="g-recaptcha" data-sitekey="6Lcqd90rAAAAAOph8TCF3wn4bSIpgKgmxXy4OcQR"></div>

      <button id="btn-enviar" type="submit">Gerar meu relatório ➜</button>
    </form>
  </div>

  <!-- JS externos -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.19/js/intlTelInput.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/imask/6.4.3/imask.min.js"></script>
  <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
  <script src="{{ url_for('static', filename='js/form.js') }}"></script>
</body>
</html>
